/* Not wanting to update color*/
.close:hover,
.close:focus {
    color: #FF0000;
    cursor: pointer;
}
/*Removes clickable arrows to change date fields individually*/
input[type="date"]::-webkit-inner-spin-button{
    display: none;
}
