 <clr-main-container>
  <div class="content-container">
    <main class="content-area">
      <!--
      <span *ngIf="isLoggedIn">Logged In</span>
      <span *ngIf="!isLoggedIn">Logged Out</span>
      -->
      <router-outlet></router-outlet>
    </main>
  </div>
</clr-main-container>
