<app-nav-bar></app-nav-bar>

<div *ngIf="searchType === 'tags'">
  <h2>tag search results:</h2>
  <div *ngIf="tags.length == 0">Unable to find any matches</div>
  <div *ngIf="tags.length !== 0">
    <div *ngFor="let tag of tags; let i = index" [attr.data-index]="i">

      <div *ngIf="i == 1">
        <a routerLink="/profile">Go to user's page</a>
      </div>

      <div *ngIf="i != 1">
        <a routerLink="/users/{{tag.userName}}">Go to {{tag.userName}}'s page</a>
      </div>


      <div class="row">
        <div class="col-sm-2">
          <span>Username:</span>
        </div>
        <div class="col-sm-2">
          <span>{{tag.userName}}</span>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
          <span>Workout:</span>
        </div>
        <div class="col-sm-2">
          <span>{{tag.wName}}</span>
        </div>
      </div>

    </div>
  </div>

</div>

<div *ngIf="searchType === 'users'">
  <h2>user search results:</h2>

  <div *ngIf="people.length === 0">Unable to find any matches</div>
  <div *ngIf="people.length !== 0">
    <div *ngFor="let person of people">
      <div class="profile-link">
        <br>
        <p>Send a friend request to {{person.userName}} from <a routerLink="/users/{{person.userName}}">their page</a>.</p>
        <div class="row">
          <div class="col-sm-2">
            <span>Email:</span>
          </div>
          <div class="col-sm-2">
            <span>{{person.userName}}@purdue.edu</span>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2">
            <span>Name:</span>
          </div>
          <div class="col-sm-2">
            <span>{{person.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
