<clr-header class="header-6">
  <div class="header-nav" [clr-nav-level]="1">
    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">
      <span class="nav-text">Home</span>
    </a>
    <a class="nav-link" [routerLink]="['/profile']" routerLinkActive="active">
      <span class="nav-text">Profile</span>
    </a>
    <a class="nav-link" [routerLink]="['/workout-create']" routerLinkActive="active">
      <span class="nav-text">Planning</span>
    </a>

    <div>
      <input style="margin-top:10%;" id="search_input" type="text" (keyup)="onKey($event)"
           [(ngModel)]="values"
           [ngModelOptions]="{standalone: true}"
             placeholder="Search for..">
    </div>
    <button style="margin-top:3%"
            class="btn btn-outline btn-sm" (click)="onUserSearch()">Friends</button>
    <button style="margin-top:3%"
            class="btn btn-outline btn-sm" (click)="onTagSearch()">Tags</button>

    <!-- <form class="search" (ngSubmit)="onUserSearch()" novalidate> -->
    <!--   <label for="search_input"> -->
    <!--     <input id="search_input" type="text" (keyup)="onKey($event)" -->
    <!--            [(ngModel)]="values" -->
    <!--            [ngModelOptions]="{standalone: true}" -->
    <!--            placeholder=" friends.."> -->
    <!--   </label> -->
    <!--   <button type="submit">Search</button> -->
    <!-- </form> -->

  </div>
  <div class="header-actions">
    <clr-dropdown [clrCloseMenuOnItemClick]="false">
      <button type="button" clrDropdownTrigger (click)="getFriendRequests()">
        <clr-icon shape="bell" size="24"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen>
        <label class="dropdown-header">Requests</label>
        <!--
        <span *ngFor="let request of friends">{{request}}
          <clr-icon shape="check" style="margin-left: 30px;" (click)="acceptFriendRequest(request)"></clr-icon>
          <clr-icon shape="times" style="margin-left: 5px;" (click)="rejectFriendRequest(request)"></clr-icon>
        </span>
        -->
        <button *ngFor="let request of friends" clrDropDownItem>{{request}}
          <clr-icon shape="check" style="margin-left: 30px;" (click)="acceptFriendRequest(request)"></clr-icon>
          <clr-icon shape="times" style="margin-left: 5px;" (click)="rejectFriendRequest(request)"></clr-icon>
        </button>
      </clr-dropdown-menu>
    </clr-dropdown>
    <a class="nav-link signout" (click)="logout()">
      <span class="nav-text">Sign Out</span>
    </a>
  </div>
</clr-header>
