<div class="clr-row">
  <div *ngFor="let journalEntry of journalEntries" class="clr-col-4">
    <span class="entry label label-info" (click)="clickJournalEntry(journalEntry)">{{journalEntry.dName}}</span>
  </div>
</div>

<clr-modal [(clrModalOpen)]="currentJournalEntry" [clrModalClosable]="false" [clrModalSize]="'md'">
  <h3 class="modal-title">Journal</h3>
  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col">
        <span>Title: {{currentJournalEntry?.dName}}</span>
      </div>
      <div class="clr-col">
        <span>Date: {{currentJournalEntry?.date}}</span>
      </div>
      <div class="clr-col">
        <span>Status: {{journalStatus}}</span>
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col">
        <span>Body: {{currentJournalEntry?.entry}}</span>
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col">
        <div class="form-group">
          <div class="btn-group" style="margin-top: 20px;">
            <button type="button" class="btn btn-sm btn-primary" (click)="onClose()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</clr-modal>