<head>
<style>
.Equipment {
	font-size: 18px;
}
.Location {
	font-size: 10px;
}
/*Modal close button*/
.close:hover,
.close:focus {
    color: #FF0000;
    cursor: pointer;
}
/*This can't be inline*/
#workoutToast {
	visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 10;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}
#workoutToast.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
   However, delay the fade out process for 2.5 seconds */
   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/* Hides arrows on number inputs */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
</style>
</head>
<body>
	<h1 style="text-align: center;"> What Will Your Workout include? </h1><br>
	<!--Left side, displays what the workout will contain-->
	<div style="height: 90%; width: 50%; position: fixed; top: 10%; overflow-x: hidden; padding-top: 20px; left: 0; background-color: green; text-align: center;">
		<button onclick="submitWorkout();" style="position: absolute; left: 0; top: 0;">Submit Workout</button>
		<button onclick="addPlaylist();" style="position: absolute; right: 0; top: 0;">Add playlist</button>
		<h2 id="workoutName">Workout</h2>
		<h3 id="workoutDate">Date</h3>
		<span id="workoutInfo">Your workout is currently empty</span>
	</div>
	<!--Right side, displays all the options-->
	<div style="height: 90%; width: 50%; position: fixed; top: 10%; overflow-x: hidden; padding-top: 20px; right: 0; background-color: blue;">
	<div id="ActivitySelection">
		<div style="text-align: center;">
			<button onclick="showHide('Fitness', 'ActivitySelection')">Fitness</button>
			<button onclick="showRepModal('Aquatics', 'activity');">Aquatics</button>
			<button onclick="showHide('Climbing', 'ActivitySelection')">Climbing</button>
		</div>
		<br>
		<div style="text-align: center;">
			<button onclick="showHide('Gyms', 'ActivitySelection')">Gyms/Courts</button>
			<button onclick="showRepModal('Aquatics', 'activity');">Other</button>
		</div>
		<br>
		<div style="text-align: center">
			<button onclick="window.location.href='index.html'">Back to Main Menu</button>
		</div>
	</div>
	<!--=============Fitness==================================-->
	<div id="Fitness" style="text-align: center; display: none;">
		<button onclick="showHide('fitnessCardio', 'Fitness')">Cardio</button>
		<button onclick="showHide('fitnessStrength', 'Fitness')">Strength</button>
		<button onclick="showHide('fitnessFlexibility', 'Fitness')">Flexibility</button><br>
		<button onclick="showHide('ActivitySelection', 'Fitness')">Back to Activity Selection</button>
	</div>
	<div id="fitnessCardio" style="text-align: center; display: none;">
		<button onclick="showHide('fitnessCardioBike', 'fitnessCardio')">Bike</button>
		<button onclick="showHide('fitnessCardioCross', 'fitnessCardio')">Cross Trainer</button>
		<button onclick="showHide('fitnessCardioErg', 'fitnessCardio')">Erg</button>
		<button onclick="showHide('fitnessCardioRower', 'fitnessCardio')">Rower</button>
		<button onclick="showHide('fitnessCardioTreadmill', 'fitnessCardio')">Treadmill</button>
		<br>
		<button onclick="showHide('Fitness', 'fitnessCardio')">Back to Fitness</button>
	</div>
	<div id="fitnessStrength" style="text-align: center; display: none;">
		<button onclick="showHide('fitnessStrengthCable', 'fitnessStrength')">Cable Unit</button>
		<button onclick="showHide('fitnessStrengthMulti', 'fitnessStrength')">Multi-Unit</button>
		<button onclick="showHide('fitnessStrengthRope', 'fitnessStrength')">Rope Trainer</button>
		<button onclick="showHide('fitnessStrengthSelect', 'fitnessStrength')">Selectorized</button>
		<button onclick="showHide('fitnessStrengthStrength', 'fitnessStrength')">Strength</button>
		<br>
		<button onclick="showHide('Fitness', 'fitnessStrength')">Back to Fitness</button>
	</div>
	<div id="fitnessFlexibility" style="text-align: center; display: none;">
		<button onclick="showRepModal();"><span class="Equipment">Technogym Anterior</span><br><span class="Location">Mezzanine (1); Pavillion (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Technogym Posterior</span><br><span class="Location">Mezzanine (1); Pavillion (2)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">TRUE Stretch Cage</span><br><span class="Location">Scifres (1); Mezzanine (1)</span></button>
		<br>
		<button onclick="showHide('Fitness', 'fitnessFlexibility')">Back to Flexibility</button>
	</div>
	<!--==========Cardio==================-->
	<div id="fitnessCardioBike" style="text-align: center; display: none;">
		<button onclick="showRepModal('Keiser', 'reps');"><span class="Equipment">Keiser</span><br><span class="Location">Mezzanine East (8); Fac/Staff (2)</span></button>
		<button onclick="showRepModal('Life Fitness Recumbent', 'time');"><span class="Equipment">Life Fitness Recumbent</span><br><span class="Location">Loft (3); Upper Fitness (1); Mezzanine (2); Fac/Staff (2)</span></button>
		<button onclick="showRepModal('Livestrong', 'activity');"><span class="Equipment">Livestrong</span><br><span class="Location">Loft (6)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Matrix Recumbent</span><br><span class="Location">Colby (10); Pavillion (3); Loft (1); Mezzanine East (2)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Matrix Upright</span><br><span class="Location">Colby (9); Pavillion (2); Loft (4); Mezzanine (4)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Octane</span><br><span class="Location">Pavilion(1)</span></button>
		<br>
		<button onclick="showHide('fitnessCardio', 'fitnessCardioBike')">Back to Cardio</button>
	</div>
	<div id="fitnessCardioCross" style="text-align: center; display: none;">
		<button onclick="showRepModal();"><span class="Equipment">Cybex</span><br><span class="Location">Colby (8); Uppser Fitness (4)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Matrix Ascent</span><br><span class="Location">Colby (3); Loft (3); Upper Fitness (3); Mezzanine (1); Mezzanine East (4)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Matrix Climbmill</span><br><span class="Location">Pavillion (3); Upper Fitness (2)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Matrix Erg</span><br><span class="Location">Colby (3)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Matrix Stepper</span><br><span class="Location">Colby (3); Loft (3);</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Octane Elliptical</span><br><span class="Location">Colby (4); Loft (4); Upper Fitness (3); Mezzanine (4); Fac/Staff (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Octane Lateral</span><br><span class="Location">Pavillion (1); Loft (2)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Precor AMT</span><br><span class="Location">Colby (6); Pavillion (2); Loft (4); Upper Fitness (3); Mezzanine (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Precor EFX Elliptical</span><br><span class="Location">Colby (6); Pavillion (3); Loft (2); Upper Fitness (2); Mezz (1); Fac/Staff (3)</span></button>
		<br>
		<button onclick="showHide('fitnessCardio', 'fitnessCardioCross')">Back to Cardio</button>
	</div>
	<div id="fitnessCardioErg" style="text-align: center; display: none;">
		<button onclick="showRepModal();"><span class="Equipment">Technogym</span><br><span class="Location">Loft(1)</span></button>
		<br>
		<button onclick="showHide('fitnessCardio', 'fitnessCardioErg')">Back to Cardio</button>
	</div>
	<div id="fitnessCardioRower" style="text-align: center; display: none;">
		<button onclick="showRepModal();"><span class="Equipment">Concept 2</span><br><span class="Location">Colby (8); Mezzanine (3); Mezzanine East (2); Fac/Staff (1)</span></button>
		<br>
		<button onclick="showHide('fitnessCardio', 'fitnessCardioRower')">Back to Cardio</button>
	</div>
	<div id="fitnessCardioTreadmill" style="text-align: center; display: none;">
		<button onclick="showRepModal();"><span class="Equipment">Life Fitness</span><br><span class="Location">Pavillion (5); Loft (4); Upper Fitness (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Matrix</span><br><span class="Location">Colby (10); Pavillion (2); Loft (3); Upper Fitness (2)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Precor</span><br><span class="Location">Colby (10); Upper Fitness (1); Fac/Staff (2)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Woodway</span><br><span class="Location">Colby (10); Pavillion (3); Loft (7); Upper Fitness (3); Woodway (3)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Woodway Curve</span><br><span class="Location">Mezzanine (4)</span></button>
		<br>
		<button onclick="showHide('fitnessCardio', 'fitnessCardioTreadmill')">Back to Cardio</button>
	</div>
	<!--=============Strength==================================-->
	<div id="fitnessStrengthCable" style="text-align: center; display: none;">
		<button onclick="showRepModal();"><span class="Equipment">Life Fitness Multi-Jungle</span><br><span class="Location">Pavillion (1); Colby (2)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Technogym Kinesis One</span><br><span class="Location">Pavillion (2); Scifres (2)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Technogym Step/Squat</span><br><span class="Location">Upper Fitness (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Technogym Core</span><br><span class="Location">Upper Fitness (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Technogym Overhead Press</span><br><span class="Location">Upper Fitness (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Technogym Press</span><br><span class="Location">Upper Fitness (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Technogym High Pull</span><br><span class="Location">Upper Fitness (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Technogym Lat Pulldown</span><br><span class="Location">Upper Fitness (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Life Fitness Dual Cable Cross</span><br><span class="Location">Scifres (2)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Life Fitness Dual Adjustable Pulleys</span><br><span class="Location">Scifres (4)</span></button>
		<br>
		<button onclick="showHide('fitnessStrength', 'fitnessStrengthCable')">Back to Strength</button>
	</div>
	<div id="fitnessStrengthMulti" style="text-align: center; display: none;">
		<button onclick="showRepModal();"><span class="Equipment">Life Fitness Synergy</span><br><span class="Location">Mezzanine (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Dynamic Functional Rig</span><br><span class="Location">East (1)</span></button>
		<br>
		<button onclick="showHide('fitnessStrength', 'fitnessStrengthMulti')">Back to Strength</button>
	</div>
	<div id="fitnessStrengthRope" style="text-align: center; display: none;">
		<button onclick="showRepModal();"><span class="Equipment">Marpo Dial VMX Rope</span><br><span class="Location">Fac/Staff (1)</span></button>
		<br>
		<button onclick="showHide('fitnessStrength', 'fitnessStrengthRope')">Back to Strength</button>
	</div>
	<div id="fitnessStrengthSelect" style="text-align: center; display: none;">
		<button onclick="showRepModal();"><span class="Equipment">Life Fitness Hip Abductor</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Life Fitness Hip Adductor</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Life Fitness Abdominal</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Life Fitness Seated Leg Curl</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Life Fitness Leg Extension</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Life Fitness Seated Leg Press</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Life Fitness Torso</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Life Fitness Lat Pulldown</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Life Fitness Shoulder Press</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Life Fitness Row/Rear Delt</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Life Fitness Chest Press</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Life Fitness Back Extension</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Life Fitness Biceps Curl</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Life Fitness Triceps Press</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Life Fitness Lateral Raise</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Technogym Row</span><br><span class="Location">Pavilion (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Technogym Chest Press</span><br><span class="Location">Pavilion (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Technogym Shoulder Press</span><br><span class="Location">Pavilion (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Technogym Leg Extension</span><br><span class="Location">Pavilion (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Technogym Leg Press</span><br><span class="Location">Pavilion (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Technogym Leg Curl</span><br><span class="Location">Pavilion (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Technogym Pec Fly</span><br><span class="Location">Pavilion (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Technogym Lat Pulldown</span><br><span class="Location">Pavilion (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Technogym Back Extentsion</span><br><span class="Location">Pavilion (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Technogym Hip Abduction</span><br><span class="Location">Pavilion (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Technogym Hip Adduction</span><br><span class="Location">Pavilion (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Technogym Bicep Curl</span><br><span class="Location">Pavilion (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Technogym Triceps Extension</span><br><span class="Location">Pavilion (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Technogym Abdominal Crunch</span><br><span class="Location">Pavilion (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Matrix Glute</span><br><span class="Location">Colby (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Matrix Pec Fly</span><br><span class="Location">Colby (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Matrix Bicep Curl</span><br><span class="Location">Colby (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Matrix Triceps Press</span><br><span class="Location">Colby (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Matrix Shoulder Press</span><br><span class="Location">Colby (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Matrix Back Extension</span><br><span class="Location">Colby (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Matrix Lateral Raise</span><br><span class="Location">Colby (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Matrix Rotary Torso</span><br><span class="Location">Colby (2)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Matrix Lat Pulldown</span><br><span class="Location">Colby (2)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Matrix Seated Row</span><br><span class="Location">Colby (2)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Matrix Chest Press</span><br><span class="Location">Colby (2)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Matrix Abdominal Crunch</span><br><span class="Location">Colby (2)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Matrix Hip Abductor</span><br><span class="Location">Colby (2)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Matrix Hip Adductor</span><br><span class="Location">Colby (2)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Matrix Leg Extension</span><br><span class="Location">Colby (2)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Matrix Seated Leg Curl</span><br><span class="Location">Colby (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Matrix Prone Curl</span><br><span class="Location">Colby (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Matrix Leg Press</span><br><span class="Location">Colby (2)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Matrix Calf Extension</span><br><span class="Location">Colby (1)</span></button>
		<br>
		<button onclick="showHide('fitnessStrength', 'fitnessStrengthSelect')">Back to Strength</button>
	</div>
	<div id="fitnessStrengthStrength" style="text-align: center; display: none;">
		<button onclick="showRepModal();"><span class="Equipment">Hammer Strength Half-Racks</span><br><span class="Location">East Fitness (6)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Matrix Dual-Racks</span><br><span class="Location">East Fitness (5)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Life Fitness Adjustable Bench</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Hammer Strength Adjustable Bench</span><br><span class="Location">Colby (11); Pavillion (2)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Hammer Strength Incline Press</span><br><span class="Location">East (3)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Hammer Strength Military Press</span><br><span class="Location">East (3)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Life Fitness Assisted Dip/Chin</span><br><span class="Location">East (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Hammer Strength Chin, Dip, Leg Raises</span><br><span class="Location">East (2)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Hammer Strength Ground Base Jammer</span><br><span class="Location">East (2)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Hammer Strength MTS V-Squat</span><br><span class="Location">East (2)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Hammer Strength Leg Press</span><br><span class="Location">East (2)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Hammer Strength Iso-Lateral Leg Press</span><br><span class="Location">East (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Hammer Strength Super Horizontal Calf</span><br><span class="Location">East (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Hammer Strength Flat Bench Press</span><br><span class="Location">East (10)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Hammer Strength Decline Bench Press</span><br><span class="Location">East (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Hammer Strength Glute/Hamstring Raise</span><br><span class="Location">East (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Hammer Strength Back Extensions</span><br><span class="Location">East (2)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Hammer Strength Seated Calf</span><br><span class="Location">East (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Hammer Strength Mountain Decline Press</span><br><span class="Location">Colby (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Hammer Strength Mountain Incline Press</span><br><span class="Location">Colby (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Hammer Strength Flat Bench</span><br><span class="Location">Colby (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Hammer Strength Smith Machine</span><br><span class="Location">Colby (1)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Hammer Strength Preacher Curls</span><br><span class="Location">Colby (2)</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Hammer Strength Decline to Ab Bench</span><br><span class="Location">Colby (3)</span></button>
		<br>
		<button onclick="showHide('fitnessStrength', 'fitnessStrengthStrength')">Back to Strength</button>
	</div>

	<!--================Climbing================================-->
	<div id="Climbing" style="text-align: center; display: none;">
		<button onclick="showRepModal();"><span class="Equipment">Climbing Wall</span><br><span class="Location">Basement</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Bouldering Wall</span><br><span class="Location">Basement</span></button>
		<br>
		<button onclick="showHide('ActivitySelection', 'Climbing')">Back to Activity Selection</button>
	</div>
	<!--===========Gyms/Courts====================================-->
	<div id="Gyms" style="text-align: center; display: none;">
		<button onclick="showRepModal();"><span class="Equipment">Badminton/Volleyball</span><br><span class="Location">Basement</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Racquetball/Handball/Wallyball</span><br><span class="Location">Basement</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Basketball/Volleyball (Feature Gym)</span><br><span class="Location">Level 1</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Basketball/Volleyball (Gold and Black Gym)</span><br><span class="Location">Level 1</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Racquetball/Handball/Wallyball</span><br><span class="Location">Level 2</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Squash</span><br><span class="Location">Level 2</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Multi-Activity Court: Indoor Soccer/Hockey</span><br><span class="Location">Level 3</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Basketball/Volleyball/Badminton</span><br><span class="Location">Level 3</span></button>
		<button onclick="showRepModal();"><span class="Equipment">Indoor Turf Facility</span><br><span class="Location">TREC</span></button>
		<br>
		<button onclick="showHide('ActivitySelection', 'Gyms')">Back to Activity Selection</button>
	</div>
	<!--End right side div-->
</div>

<!--Modal(s)-->
<div id="repModal" style="display: none; position: fixed; z-index: 1; padding-top: 100px; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4);">
	<div style="background-color: #fefefe; margin: auto; padding: 20px; border: 1px solid #888; width: 50%;">
		<span class="close" onclick="hideRepModal();" onHover="cursor: pointer;" style="color: #aaaaaa; float: right; font-size: 20px; font-weight: bold;">&times;</span>
		<div>
			<h2 style="text-align: center;"> How Much Will Your Workout Include? </h2>
			<h3 style="text-align: center;" id="ChosenExercise"></h3>
			<!--Will have to adjust width if font is changed, also prob not best idea to keep static value, update as screen changes-->
			<div style="position: relative; width: 350px; margin-left: auto; margin-right: auto;">
			<div style="display: inline-block; vertical-align: top; text-align: right;">
				<span id="numReps" style="display: none;">Number of Reps: </span>
				<span id="timeSpent" style="display: none;">Time Spent: </span>
				<span id="activity" style="display: none;">Facility will be used for:</span>
			</div>
			<div style="display: inline-block;">
				<!--Figure out why blocking keycode wasn't/isn't working-->
				<input id="reps" type="number" name="reps" onkeyup="this.value = Math.abs(this.value);" style="display: none;">
				<input id="timeHours" type="number" name="timeHours" onkeyup="this.value = Math.abs(this.value);" style="display: none;">
				<input id="timeMinutes" type="number" name="timeMinutes" onkeyup="this.value = Math.abs(this.value);" style="display: none;">
				<input id="activityInput" type="text" name="activityInput" style="display: none;">
			</div>
			<div style="display: inline-block;">
				<span id="textHours" style="display: none;">Hours</span>
				<span id="textMinutes" style="display: none;">Minutes</span>
			</div>
		</div>
		<br>
		<div style="text-align: center;">
			<button onclick="addToWorkoutInfo();">Add to Workout</button>
		</div>
		</div>
	</div>
</div>
<div id="workoutToast">Workout added Successfully</div>
<script>
	//Once everything is loaded set the name and date
	document.getElementById("workoutName").innerHTML = sessionStorage.getItem("WorkoutName");
	document.getElementById("workoutDate").innerHTML = sessionStorage.getItem("WorkoutDate");

	function showHide(toShow, toHide) {
		document.getElementById(toHide).style.display = 'none';
		document.getElementById(toShow).style.display = 'block';
	}
	function showRepModal(exercise, workoutType) {
		document.getElementById('ChosenExercise').innerHTML = exercise;
		//Resets values to 0/""
		document.getElementById('reps').value = 0;
		document.getElementById('timeHours').value = 0;
		document.getElementById('timeMinutes').value = 0;
		document.getElementById('activityInput').value = "";
		if (workoutType == "reps") {
			document.getElementById("numReps").style.display = 'block';
			document.getElementById("reps").style.display = 'block';
			document.getElementById("timeSpent").style.display = 'none';
			document.getElementById("timeHours").style.display = 'none';
			document.getElementById("timeMinutes").style.display = 'none';
			document.getElementById("textHours").style.display = 'none';
			document.getElementById("textMinutes").style.display = 'none';
			document.getElementById("activity").style.display = 'none';
			document.getElementById("activityInput").style.display = 'none';
		} else if (workoutType == "time") {
			document.getElementById("numReps").style.display = 'none';
			document.getElementById("reps").style.display = 'none';
			document.getElementById("timeSpent").style.display = 'block';
			document.getElementById("timeHours").style.display = 'block';
			document.getElementById("timeMinutes").style.display = 'block';
			document.getElementById("textHours").style.display = 'block';
			document.getElementById("textMinutes").style.display = 'block';
			document.getElementById("activity").style.display = 'none';
			document.getElementById("activityInput").style.display = 'none';
		} else {
			document.getElementById("numReps").style.display = 'none';
			document.getElementById("reps").style.display = 'none';
			document.getElementById("timeSpent").style.display = 'none';
			document.getElementById("timeHours").style.display = 'none';
			document.getElementById("timeMinutes").style.display = 'none';
			document.getElementById("textHours").style.display = 'none';
			document.getElementById("textMinutes").style.display = 'none';
			document.getElementById("activity").style.display = 'block';
			document.getElementById("activityInput").style.display = 'block';			
		}
		document.getElementById('repModal').style.display = 'block';
	}
	function hideRepModal() {
		document.getElementById('repModal').style.display = 'none';		
	}
	function addToWorkoutInfo() {
		var reps = document.getElementById('reps').value;
		var hours = document.getElementById('timeHours').value;
		var minutes = document.getElementById('timeMinutes').value;
		var activity = document.getElementById('activityInput').value;
		console.log(reps);
		console.log(hours);
		console.log(minutes);
		console.log(activity);
		if (document.getElementById('reps').style.display != 'none' && reps == 0) {
			alert("You forgot to add reps");
			return;
		}
		if (hours > 23) {
			alert("Invalid Time: Hours cannot exceed 23");
			return;
		}
		if (minutes > 59) {
			alert("Invalid Time: Minutes cannot exceed 59");
			return;
		}
		if (document.getElementById('activity').style.display != 'none' && activity == "") {
			alert("You forgot to specify what the facility will be used for");
			return;
		}
		if (document.getElementById('workoutInfo').innerHTML == "Your workout is currently empty") {
			document.getElementById('workoutInfo').innerHTML = "";
		}
		var workoutItem;
		if (reps != 0) {
			text = document.getElementById('ChosenExercise').innerHTML + ": " + reps + " reps<br>";
		} else if (activity != "") {
			text = document.getElementById('ChosenExercise').innerHTML + ": " + activity + "<br>";
		} else {
			text = document.getElementById('ChosenExercise').innerHTML + ": " + hours + " hours, " + minutes + " minutes<br>";
		}
		document.getElementById('workoutInfo').innerHTML += text;
		hideRepModal();
	}
	function submitWorkout() {
		if (confirm("Are you sure you want to submit?")) {
			//submit stuff to backend

			//Spotify URL (Sprint 2)
			var workoutDate = document.getElementById('workoutDate').innerHTML;
			//email from login(I don't have)
			var exercises = document.getElementById('workoutInfo').innerHTML.split("<br>");
			//See if this is the desired format
			//console.log(exercises);

			//Reset workout info
			document.getElementById('workoutInfo').innerHTML = "Your workout is currently empty";
			//Clear name and date from session storage
			sessionStorage.removeItem("WorkoutName");
			sessionStorage.removeItem("WorkoutDate");
			//Show toast on index page perhaps?
			//showToast("workoutToast");
			window.location.href = "index.html";
		}
	}
	function addPlaylist() {
		alert("This feature is not yet available")
		//TODO in Sprint 2
	}
	function showToast(toast) {
	    var t = document.getElementById(toast);
	    t.className = "show";
	    // After 3 seconds, remove the show class from DIV
	    setTimeout(function(){ t.className = t.className.replace("show", ""); }, 3000);
	}
</script>
</body>