<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>GymBuddy</title>
	<base href="/">
<link rel="stylesheet" href="{{ url_for('static',filename='styles.f29db284fa8f5a7b983e.css')}}"></head>
<body>
	<app-root></app-root>
<script type="text/javascript" src="{{url_for('static',filename='runtime.ec2944dd8b20ec099bf3.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='polyfills.f6ae3e8b63939c618130.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='scripts.dfc48c5a15505c24d04b.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='main.d33aafa1291e8b0a4a92.js')}}"></script>
</body>
</html>
